main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-palette {
  text-align: center;

  /* display: inline-block; */
  margin-top: 20px;
  margin-left: 20px;
}

.color {
  display: inline-block;
  padding: 5vh 3vw;

  border: 1px solid black;
}

.line {
  background-color: white;
  line-height: 0;
}

#options {
  display: flex;
  /* margin: 20px; */
}

#pixel-board {
  text-align: center;
  /* display: flex; */
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 40px;
  border: 1px solid black;
  background-color: white;
  line-height: 0;
}

.input-group {
  margin: 20px;
}


