#color-palette {
  text-align: center;

  /* display: inline-block; */
  margin-top: 20px;
  margin-left: 20px;
}

.color {
  display: inline-block;
  padding: 50px;
  border: 1px solid black;
}

#black {
  background-color: black;
}

#first {
  background-color: #56a3a6;
}

#second {
  background-color: #da3e52;
}

#third {
  background-color: #f2e94e;
}

#white {
  background-color: white;
}

.line {
  background-color: white;
}

#options {
  display: inline-block;
}

#pixel-board {
  text-align: center;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 40px;
  border: 1px solid black;
  background-color: white;
}

/* .pcolor {
  background-color: white;
} */
