@import url('http://fonts.cdnfonts.com/css/serious-rounded');
@media screen and (max-width: 412px) {
  body {
    text-align: center;
    background-image: url("./dc3b2546601081.585ad762e70eb.jpg");
  }
  header {
    font-family: 'seriousr2b', sans-serif;
    text-align: center;
    background-color: white;
    margin-top: 10px; 
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #options {
    
    display: flex;
    flex-direction: raw;
  }
  
  #color-palette {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .color {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    /* height:0;
    width:20%;
    padding: 5vh 3vw; 
    padding-bottom:20%; */
    
  
    border: 1px solid black;
  }
 
  
  #pixel-board {
    /* margin: 2px; */
    width: 80%;
    /* display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%; */
    
  }
  
  .line {
    display: flex;
    line-height: 0;
    flex-shrink: 1;
    justify-content: center;
  }

  .pixel {
    display: inline-block;
    aspect-ratio: 10/10;
    width: 20vw;
    /* height: 10vw; */
    /* flex-shrink: 1; */
    border: 1px solid black;
    background-color: white;
    line-height: 0;
  }
  
  .input-group {
    margin: 20px;
  }
  
}

@media screen and (min-width: 413px) {
  body {
    background-image: url("./1008904.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  header {
    font-family: 'seriousr2b', sans-serif;
    text-align: center;
    background-color: white;
    margin-top: 10px; 
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #options {
    font-family: 'seriousr2', sans-serif;
    display: flex;
    flex-direction: raw;
  }
  
  #color-palette {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .color {
    display: inline-block;
    aspect-ratio: 1/1;
    width: 5vw;
    /* height: 10vw; */
    border: 1px solid black;
  }
 
  #pixel-board {
    width: 80%;  
  }
  
  .line {
    display: flex;
    line-height: 0;
    flex-shrink: 1;
    justify-content: center;
  }

  .pixel {
    display: inline-block;
    aspect-ratio: 1/1;
    width: 5vw;
    border: 1px solid black;
    background-color: white;
    line-height: 0;
  }
  
  .input-group {
    margin: 20px;
  }
  
}

